.calc-form
{
	margin : 0;
}

.frame
{
	width : 420px;
	font-family : Verdana;
	background-color : #EEEEEE;
	border-radius : 5px 5px 5px 5px;
	color: #01224a;
	padding-bottom : 5px;
}

.title
{
	background-color : #005398;
	height : 50px; 
	border-radius : 5px 5px 0px 0px; 
	text-align : center;	
}

.title h1
{
	font-weight: bold; 
	font-size : 20px;
	color : white;
	margin : 0;
	padding-top : 12px;
}

.center
{
	padding : 15px; 
	padding-top : 0;
}

.center h4
{
	font-weight : normal;
	margin-top : 10px;
	margin-bottom : 0;
}

.or
{
	width : 45px;
}

.date
{
	width : 70px;
}

.submit
{
	text-align : center;
}

.form-submit
{
	width : 100px;
	height : 30px;
}

.invisible
{
	display : none;
}

#sum
{

	text-align : center;
	padding : 15px;
	padding-top : 10px; 
	padding-bottom : 5px;
}

#sum h4
{
	font-weight : normal;
	text-align : center;
	margin : 0;
}

#error
{
	color: red;
	text-align : center;
}

#error h4
{
	font-weight : normal;
	margin : 0px;
}